# Kotlin/Java build
.gradle/
.idea/
.kotlin/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties
*.iml

# OS
.DS_Store

# Android Studio
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Logs
*.log

# Jetpack Compose Preview
*.preview

# Other
app/build/
